
<div class="table-container">

  @if (loading) {

    <div class="table-loading">
      <app-spinner></app-spinner>
    </div>

  } @else {

    <table>

      <thead>

      <tr>

        @for (column of columns; track column.key) {

          <th
            [style.width]="column.width"
          >
            {{ column.label }}
          </th>

        }

      </tr>

      </thead>

      <tbody>

        @for (
          row of data;
          track $index
          ) {

          <tr>

            @for (
              column of columns;
              track column.key
              ) {

              <td>
                {{ getValue(row, column.key) }}
              </td>

            }

          </tr>

        } @empty {

          <tr>

            <td
              [attr.colspan]="columns.length"
              class="empty"
            >
              Aucune donnée disponible.
            </td>

          </tr>

        }

      </tbody>

    </table>

  }

</div>
